*{
    margin: 0;
    padding: 0  ;
    box-sizing: border-box;
}

body{
    background-color: #cc5927c7;
    color: white;
}

.Titulo{
    text-align: left; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 30px; 
    color: #EBD758; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
    text-align: center;
}

img{
    width: 100%;
    object-fit: cover;

}

.contenedor_galeria{
    width: 80%;
    max-width: 2000px;
    margin: 40px auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 350px;
    gap: 40px;
}

.contenedor_galeria img{
    height: 100%;
}